<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= title %></title>
   </head>
   <body>
      <p>
         Welcome <strong><%= user.uName %></strong>
         <a href="/signout" title="sign out">sign out</a><br>
         <a href="/updateInfo" title="Update Contact Information"> Update Contact Info</a>
      </p>
   </body>
</html>